html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(0deg, #0D0D0D, #0D0D0D), #141417;

}

* {
  box-sizing: border-box;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;